@import url('https://fonts.googleapis.com/css?family=Lato');

$verydark: #222;
$dark: #333;
$fair: #eee;
$special: #f4c542;
$alert: #d12323;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    background: $verydark;
    font-family: oswald;
    
    #game {
        height: 900px;
        width: 1400px;
        background: blue;
        border: 4px solid $special;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        #menuHolder {
            position: absolute;
            z-index: 1000;
            background: $fair;
            width: 100%;
            height: 100%;
            display: block;
            
            >ul {
                list-style-type: none;
                padding: 0;
                margin: 40px 0 0 0;
                li {
                    text-align: center;
                    display: block;
                    
                    a {
                        width: 30%;
                        margin: 20px auto;
                        padding: 10px 0;
                        background: $special;
                        display: block;
                        text-decoration: none;
                        color: $dark;
                        text-transform: uppercase;
                        font-size: 1.5em;
                        transition: 0.3s ease;
                        &:hover {
                            border-left: 10px solid $dark;
                            border-right: 10px solid $dark;
                        }
                    }
                    
                    .comingsoon {
                        
                        &::after {
                            position: absolute;
                            right: 200px;
                            content: "coming soon";
                            color: $alert;
                        }
                    }
                }
            }
            
            #gameVERSION {
                position: absolute;
                right: 10px;
                bottom: 0;
                font-size: 0.7em;
            }
        }
        #UIholder {
            position: absolute;
            z-index: 1200;
            width: 100%;
            height: 100%;
            display: none;
            
            >div{
                height: 100%;
                width: 200px;
                padding: 5px;
            }
            
            >div:nth-of-type(1){
                float: left;
                >div:nth-last-of-type(1){
                    background: $fair;
                }
             
            }
            >div:nth-of-type(2){
                float: right;
                
                >table {
                    border-spacing: 0px;
                    width: 100%;
                    text-align: center;
                    td,th {
                        background: $fair;
                    }
                }
                #UIstagebar {
                    float: right;
                    margin-top: 5px;
                    width: 100%; height: 570px;
                    background: $fair;
                    position: relative;
                    padding: 5px 0px;
                    
                    >div {
                        text-align: center;
                        padding: 3px 10px;
                        text-transform: uppercase;
                        font-variant: small-caps;
                        span {
                            font-size: 0.7em;
                        }
                    }
                }
                >div:nth-of-type(2){
                    float: right;
                    margin-top: 5px;
                    width: 100%; height: 90px;
                    background: $fair;
                    text-align: center;
                    
                    p {
                        margin: 0;
                        font-size: 1.8em;
                    }
                }
            }
        }
        #myCanvas {
            position: absolute;
            z-index: 1100;
            float: left;
            display: none;
        }
        #myResources{
            display: none;
        }

    }
}