@import url("https://fonts.googleapis.com/css?family=Lato");
progress::-webkit-progress-value {
  background: #f4c542; }

progress::-webkit-progress-bar {
  background: #eee; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  position: relative;
  background: #222;
  font-family: oswald; }
  body #game {
    height: 900px;
    width: 1400px;
    background: blue;
    border: 4px solid #f4c542;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    body #game #menuHolder {
      position: absolute;
      z-index: 1000;
      background: #eee;
      width: 100%;
      height: 100%;
      display: block; }
      body #game #menuHolder > ul {
        list-style-type: none;
        padding: 0;
        margin: 40px 0 0 0; }
        body #game #menuHolder > ul li {
          text-align: center;
          display: block; }
          body #game #menuHolder > ul li a {
            width: 30%;
            margin: 20px auto;
            padding: 10px 0;
            background: #f4c542;
            display: block;
            text-decoration: none;
            color: #333;
            text-transform: uppercase;
            font-size: 1.5em;
            transition: 0.3s ease; }
            body #game #menuHolder > ul li a:hover {
              border-left: 10px solid #333;
              border-right: 10px solid #333; }
          body #game #menuHolder > ul li .comingsoon::after {
            position: absolute;
            right: 200px;
            content: "coming soon";
            color: #d12323; }
      body #game #menuHolder .gameSHORTCUTINFO {
        position: absolute;
        right: 10px;
        bottom: 0;
        font-size: 0.7em; }
    body #game #UIholder {
      position: absolute;
      z-index: 1200;
      width: 100%;
      height: 100%;
      display: none; }
      body #game #UIholder > div {
        height: 100%;
        width: 200px;
        padding: 5px; }
      body #game #UIholder > div:nth-of-type(1) {
        float: left; }
        body #game #UIholder > div:nth-of-type(1) > div {
          background: #eee; }
        body #game #UIholder > div:nth-of-type(1) > div:nth-of-type(1) {
          text-align: center; }
          body #game #UIholder > div:nth-of-type(1) > div:nth-of-type(1) > p {
            margin: 0; }
        body #game #UIholder > div:nth-of-type(1) > div:nth-of-type(2) {
          margin-top: 5px;
          text-align: center; }
          body #game #UIholder > div:nth-of-type(1) > div:nth-of-type(2) > p {
            margin: 0;
            font-size: 1.4em; }
          body #game #UIholder > div:nth-of-type(1) > div:nth-of-type(2) > h1 {
            width: 100px;
            height: 100px;
            background: #f4c542;
            font-size: 4em;
            margin: 10px auto;
            border-radius: 100%;
            -o-border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            -ms-border-radius: 100%; }
        body #game #UIholder > div:nth-of-type(1) > table {
          margin-top: 5px;
          background: #eee;
          border-spacing: 0px;
          width: 100%;
          padding: 10px 0px; }
          body #game #UIholder > div:nth-of-type(1) > table .doubletr td:nth-of-type(1) {
            text-align: left; }
            body #game #UIholder > div:nth-of-type(1) > table .doubletr td:nth-of-type(1) p {
              margin: 0px 0px 0px 5px; }
          body #game #UIholder > div:nth-of-type(1) > table .doubletr td:nth-of-type(2) {
            text-align: right; }
            body #game #UIholder > div:nth-of-type(1) > table .doubletr td:nth-of-type(2) p {
              margin: 0px 5px 0px 0px; }
          body #game #UIholder > div:nth-of-type(1) > table tr:nth-of-type(2) {
            text-align: center; }
            body #game #UIholder > div:nth-of-type(1) > table tr:nth-of-type(2) progress {
              -webkit-appearance: none;
              margin: 0;
              height: 30px;
              width: 190px;
              background: #f4c542;
              border: 2px solid #333; }
      body #game #UIholder > div:nth-of-type(2) {
        float: right; }
        body #game #UIholder > div:nth-of-type(2) > table {
          border-spacing: 0px;
          width: 100%;
          text-align: center; }
          body #game #UIholder > div:nth-of-type(2) > table td, body #game #UIholder > div:nth-of-type(2) > table th {
            background: #eee; }
        body #game #UIholder > div:nth-of-type(2) #UIstagebar {
          float: right;
          margin-top: 5px;
          width: 100%;
          height: 570px;
          background: #eee;
          position: relative;
          padding: 5px 0px; }
          body #game #UIholder > div:nth-of-type(2) #UIstagebar > div {
            text-align: center;
            padding: 3px 10px;
            text-transform: uppercase;
            font-variant: small-caps; }
            body #game #UIholder > div:nth-of-type(2) #UIstagebar > div span {
              font-size: 0.7em; }
        body #game #UIholder > div:nth-of-type(2) > div:nth-of-type(2) {
          float: right;
          margin-top: 5px;
          width: 100%;
          height: 90px;
          background: #eee;
          text-align: center; }
          body #game #UIholder > div:nth-of-type(2) > div:nth-of-type(2) p {
            margin: 0;
            font-size: 1.8em; }
    body #game #myCanvas {
      position: absolute;
      z-index: 1100;
      float: left;
      display: none; }
    body #game #myResources {
      display: none; }

/*# sourceMappingURL=style.css.map */
