@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin border-radius($radius){
    border-radius: $radius;
    -o-border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
}

$verydark: #222;
$dark: #333;
$fair: #eee;
$special: #f4c542;
$alert: #d12323;

progress::-webkit-progress-value {
  background: $special;
}

progress::-webkit-progress-bar {
  background: $fair;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    background: $verydark;
    font-family: oswald;
    
    #game {
        height: 900px;
        width: 1400px;
        background: blue;
        border: 4px solid $special;
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        #menuHolder {
            position: absolute;
            z-index: 1000;
            background: $fair;
            width: 100%;
            height: 100%;
            display: block;
            
            >ul {
                list-style-type: none;
                padding: 0;
                margin: 40px 0 0 0;
                li {
                    text-align: center;
                    display: block;
                    
                    a {
                        width: 30%;
                        margin: 20px auto;
                        padding: 10px 0;
                        background: $special;
                        display: block;
                        text-decoration: none;
                        color: $dark;
                        text-transform: uppercase;
                        font-size: 1.5em;
                        transition: 0.3s ease;
                        border-left: 10px solid rgba($dark,0);
                        border-right: 10px solid rgba($dark,0);
                        &:hover {
                            border-left: 10px solid $dark;
                            border-right: 10px solid $dark;
                        }
                    }
                    
                    .comingsoon {
                        
                        &::after {
                            position: absolute;
                            right: 200px;
                            content: "coming soon";
                            color: $alert;
                        }
                    }
                }
            }
            
            .gameSHORTCUTINFO {
                position: absolute;
                right: 10px;
                bottom: 0;
                font-size: 0.7em;
            }
        }
        #UIholder {
            position: absolute;
            z-index: 1200;
            width: 100%;
            height: 100%;
            display: none;
            
            >div{
                height: 100%;
                width: 200px;
                padding: 5px;
            }
            
            >div:nth-of-type(1){
                float: left;
                >div{
                    background: $fair;
                }
                >div:nth-of-type(1){
                    text-align: center;
                    >p {
                        margin: 0;
                    }
                }
                
                >div:nth-of-type(2){
                    margin-top: 5px;
                    text-align: center;
                    >p {
                        margin: 0;
                        font-size: 1.4em;
                    }
                    >h1{
                        width: 100px; height: 100px;
                        background: $special;
                        font-size: 4em;
                        margin: 10px auto;
                        @include border-radius(100%);
                    }
                }
                >table{
                    margin-top: 5px;
                    background: $fair;
                    border-spacing: 0px;
                    width: 100%;
                    padding: 10px 0px;
                    
                    .doubletr{
                        td:nth-of-type(1){
                            text-align: left;
                            p{
                                margin: 0px 0px 0px 5px;
                            }
                        }
                        td:nth-of-type(2){
                            text-align: right;
                            p{
                                margin: 0px 5px 0px 0px;
                            }
                        }
                    }
                    tr:nth-of-type(2){
                        text-align: center;
                        progress{
                            -webkit-appearance: none;
                            margin: 0;
                            height: 30px;
                            width: 190px;
                            background: $special;
                            border: 2px solid $dark;
                        }
                    }
                }
             
            }
            >div:nth-of-type(2){
                float: right;
                
                >table {
                    border-spacing: 0px;
                    width: 100%;
                    text-align: center;
                    td,th {
                        background: $fair;
                    }
                }
                #UIstagebar {
                    float: right;
                    margin-top: 5px;
                    width: 100%; height: 570px;
                    background: $fair;
                    position: relative;
                    padding: 5px 0px;
                    
                    >div {
                        text-align: center;
                        padding: 3px 10px;
                        text-transform: uppercase;
                        font-variant: small-caps;
                        span {
                            font-size: 0.7em;
                        }
                    }
                }
                >div:nth-of-type(2){
                    float: right;
                    margin-top: 5px;
                    width: 100%; height: 90px;
                    background: $fair;
                    text-align: center;
                    
                    p {
                        margin: 0;
                        font-size: 1.8em;
                    }
                }
            }
        }
        #pauseHolder {
            position: absolute;
            z-index: 1250;
            width: 100%;
            height: 100%;
            display: none;
            background: rgba($fair,1);
            >div{
                position: relative;
                width: 100%;
                height: 100%;
                >div{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;
                    h1{
                        font-size: 3em;
                    }
                    button {
                        padding: 10px 50px;
                        margin: 0px 20px;
                        outline: none; border: none;
                        background: $special;
                        font-family: oswald;
                        color: $dark;
                        font-size: 1.5em;
                        text-transform: uppercase;
                        transition: 0.3s ease;
                        border-left: 10px solid rgba($dark,0);
                        border-right: 10px solid rgba($dark,0);
                        &:hover {
                            border-left: 10px solid $dark;
                            border-right: 10px solid $dark;
                        }
                    }
                }
            }
        }
        #myCanvas {
            position: absolute;
            z-index: 1100;
            float: left;
            display: none;
        }
        #myResources{
            display: none;
        }

    }
}